@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Ramabhadra&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    padding-top: 110px;
    font-family:Poppins, sans-serif;
    background:#EAEAEA;
    overflow-x:hidden;
}

/* NAVBAR */
html {
    scroll-behavior: smooth;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 120px;
    z-index: 999;

    background: #EAEAEA;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.logo-container{
    display:flex;
    align-items:center;
    gap:12px;
}

.brand-logo{
    width:70px;
}

.logo-main{
    font-size:28px;
    font-weight:600;
    font-style:italic;
}

.logo-sub{
    font-size:20px;
    font-weight:600;
    font-style:italic;
}

.menu{
    display:flex;
    align-items:center;
    gap:20px;
}

.menu a{
    font-size:20px;
    text-decoration:none;
    color:black;
    font-weight:500;
}

.menu .active{
    font-weight:800;
}

.btn-admin{
    background:black;
    color:white;
    padding:12px 30px;
    border-radius:30px;
    font-weight:700;
    border:none;
    cursor: pointer;
}

/* ===== mobile navbar ===== */
.hamburger{
    display:none;
}

@media (max-width: 480px) {

    body{
        padding-top:70px;
    }

    .navbar {
        padding: 12px 20px;
    }

    .brand-logo {
        width: 40px;
    }

    .logo-main {
        font-size: 18px;
    }

    .logo-sub {
        font-size: 12px;
    }

    .menu {
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        background: #EAEAEA;
        flex-direction: column;
        display: none;
        padding: 20px 0;
        text-align: center;
        gap: 12px;
        box-shadow: 0 4px 20px rgba(0,0,0,0.2);
        animation: slideDown .3s ease;
        z-index: 998;
    }

    .menu a {
        font-size: 18px;
        padding: 10px 0;
        display:block;
    }

    .btn-admin {
        display: none;
    }

    .hamburger {
        display: block;
        width: 32px;
        cursor: pointer;
    }

    .hamburger span {
        display: block;
        height: 4px;
        width: 100%;
        background:black;
        margin: 5px 0;
        border-radius: 5px;
        transition: .3s;
    }
}

/* SLIDE ANIMATION */
@keyframes slideDown {
    from {opacity: 0; transform: translateY(-10px);}
    to {opacity: 1; transform: translateY(0);}
}
