.catalog-header {
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.49);
    top: 0;
    left: 0;
}

.catalog-header h1 {
    position: relative;
    color: #fff;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    z-index: 2;
}

.catalog-section {
    width: 100%;
    padding: 60px 80px;
}

.catalog-section h2 {
    text-align: center;
    font-size: 40px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
}

.catalog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kolom */
    gap: 40px;
}

.catalog-item {
    background: rgba(131, 139, 66, 0.30);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-item img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
