/* ================= HEADER ================= */
.catalog-header {
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.49);
    top: 0;
    left: 0;
}

.catalog-header h1 {
    position: relative;
    color: #fff;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    z-index: 2;
}

/* ================= SECTION ================= */
.catalog-section {
    width: 100%;
    padding: 60px 80px;
}

.catalog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* DESKTOP: 3 kolom */
    gap: 40px;
}

.catalog-item {
    background: rgba(131, 139, 66, 0.30);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-item img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: .3s ease;
    cursor: zoom-in;
}

.catalog-item img:hover {
    transform: scale(1.05);
}

/* ================= FULLSCREEN MODAL ================= */

#img-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#img-modal img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

#img-modal span {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* ================= MOBILE ================= */
@media(max-width: 480px) {
    .overlay, 
    .catalog-bg
    {
        height: 98px;
        width: 430px;
    }

    .catalog-header h1 {
        font-size: 14px;
        text-align: center;
    }

    .catalog-header {
        height: 98px;
        width: 430px;
    }

    .catalog-section {
        padding: 20px;
    }

    /* MOBILE: 2 kolom */
    .catalog-container {
        grid-template-columns: repeat(2, 2fr);
        gap: 12px;
    }

    .catalog-item {
        padding: 10px;
        border-radius: 15px;
    }

    .catalog-item img {
        border-radius: 12px;
    }
}
