.about-header {
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.49);
    top: 0;
    left: 0;
}

.about-header h1 {
    position: relative;
    color: #fff;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    z-index: 2;
}


.about-content {
    width: 100%;
    background: #fff;
    padding: 150px 40px 0 40px;

}

.about-desc {
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 35px;
    color: #000;
    text-align: justify;
    max-width: 1150px;
    margin: auto;
}

.about-stats {
    background: #000;
    color: white;
    border-radius: 30px;
    margin-top: 150px;
    padding: 40px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stat-box {
    text-align: center;
}

.stat-box h3 {
    font-size: 45px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.stat-box p {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.divider {
    width: 2px;
    height: 100px;
    background: white;
}


.gallery-section {
    width: 100%;
    padding: 70px 0;
    text-align: center;
    background: #fff;
}

.gallery-section h2 {
    font-size: 40px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: black;
}

.gallery-section .underline {
    width: 90px;
    height: 4px;
    background: black;
    margin: 10px auto 40px auto;
}

.gallery-wrapper {
    width: 100%;
    background: rgba(217, 217, 217, 0.33);
    padding: 40px 0;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
}

.gallery-wrapper img {
    width: 363px;
    height: 226px;
    border-radius: 20px;
    object-fit: cover;
}
